<?xml version="1.0"?>
<robot name="rover">
  <!-- colors -->
  <material name="green">
    <color rgba="0.0 1.0 0.0 1.0"/>
  </material>

  <!-- fixxed dimensions -->

  <!-- robot house -->
  <link name="base_link">
    <!-- Visual properties of the link -->
    <visual>
      <geometry>
        <box size="0.22 0.15 0.1" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <material name="green"/>
    </visual>
    <!-- Collision properties of the link -->
  </link>

  <!-- house frame -->
  <!-- <link name="rocker_left">
    <visual>
      <geometry>
        <cylinder radius="0.015" length="0.09"/>
        <origin xyz="-0 0 0" rpy="0 0 90"/>
      </geometry>
    </visual>
  </link> -->

  <!-- referrence -->
  <link name="referrence">
    <visual>
      <origin xyz="0.15 0.05 -0.115" rpy="0 0 3.14"/>
      <geometry>
        <mesh filename="file:///home/joshua/Desktop/rover_simulation/src/rover_description/meshes/rover.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="example_material">
        <color rgba="0.8 0.8 0.8 0.4"/>
      </material>
    </visual>
  </link>
  <!-- needed to visualise referrence -->
  <joint name="referrence" type="fixed">
    <parent link="base_link"/>
    <child link="referrence"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <!-- <joint name="rocker_left" type="fixed">
    <parent link="base_link"/>
    <child link="rocker_left"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint> -->

  <!-- Optionally, define joints if this link is connected to others -->
</robot>
