<?xml version="1.0"?>
<robot name="rover">
  <link name="house">
    <!-- Visual properties of the link -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>  <!-- Adjust the position and orientation as needed -->
      <geometry>
        <mesh filename="file:///home/joshua/Desktop/rocker_bogie_simulation/src/rover_description/meshes/rover.stl"/>
      </geometry>
      <material name="example_material">
        <color rgba="0.8 0.8 0.8 1.0"/>
      </material>
    </visual>

    <!-- Collision properties of the link -->
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>  <!-- Adjust the position and orientation as needed -->
      <geometry>
        <mesh filename="file:///home/joshua/Desktop/rocker_bogie_simulation/src/rover_description/meshes/rover.stl"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="2.5"/>
      <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
    </inertial>
  </link>

  <!-- Optionally, define joints if this link is connected to others -->
</robot>
